@font-face {
  font-family: LatoLight300;
  font-weight: 300;
  src: url(assets/fonts/Lato-Light.ttf);
}
@font-face {
  font-family: LatoRegular400;
  font-weight: 400;
  src: url(assets/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: LatoBold700;
  font-weight: 700;
  src: url(assets/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: LatoBlack900;
  font-weight: 900;
  src: url(assets/fonts/Lato-Black.ttf);
}
body {
  font-family: 'LatoRegular400', sans-serif;
}
.header, .slider {
  max-width: 1020px;
}
.wrapper{
  max-width: 940px;
  margin: 0 auto;
}
.header {
  background-color: #2d303a;
}
.header__navigation {
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  padding-top: 9px;
}
.logo {
  font-family: 'LatoBold700', sans-serif;
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.logo .colored {
  color: #f06c64;
}
.navigation li {
  font-family: 'LatoBold700', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 13px;
}
.navigation li:not(:first-child):before{
  content: '·';
  margin-right: 12px;


}
.navigation li:first-child {
  color: #f06c64;

}
