body {
  font-family: 'LatoRegular400', sans-serif;
}
.feedback, footer {
  max-width: 1020px;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.feedback {
  background-color: #f06c64;
  padding-top: 42px;
  border-bottom: #ea676b;
  border-width: 0px 0px 6px 0px;
  border-style: solid;
}
.feedback__header {
  color: #f0d8d9;
  font-family: 'LatoBlack900', sans-serif;
  font-size: 30px;
  margin: 20px 10px;
}
.feedback__text {
  color: #f0d8d9;
  font-family: 'LatoLight300' sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.219px;
  text-align: justify;
  margin: 21px 10px;
}
.feedback__form-wrapper {
  display: flex;
  padding-bottom: 5px;
}
.feedback__form{
  width: 640px;
}
.feedback__form form {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  padding-top: 15px;
}
.feedback__form input, .feedback__form textarea {
  background-color: #d6564f;
  color: #f48c8f;
  border: none;
  font-size: 12px;
  line-height: 14.56px;
  border-radius: 5px;
  padding: 12px 15px;
  margin: 8px 0;
}
.feedback__form input::placeholder, .feedback__form textarea::placeholder{
  color: #f48c8f;
}
.feedback__form textarea {
  resize: none;
  padding: 10px 15px;
}
.button-submit:hover {
  color: #ccb7b8;
  border-style: solid;
  border-color: #ee4348;
  border-width: 1px;
}
.feedback__contact-information {
  width: 320px;
  margin: 10px 0;
}
.contact-information__header {
  margin: 13px 0 6px 10px;
  font-family: 'LatoBlack900', sans-serif;
  font-size: 18px;
  color: #f0d8d9;
}
.contact-information__text {
  color: #f0d8d9;
  font-size: 12px;
  line-height: 22px;
  margin: 10px 0 12px 10px;
  text-align: justify;
  word-break: break-word;
}
.contact-information__detail {
  margin: 0 13px;
  color: #f0d8d9;
  font-size: 12px;
  padding-top: 8px;
}
.contact-information__detail li {
  margin: 4px 0;
}
.contact-information__detail a {
  color: #f0d8d9;
  text-decoration: none;
}
.contact-information__detail a:hover {
  color: #ccb7b8;
}
.icon-feedback{
  width: 13px;
  height: 13px;
  display: inline-block;
  background-repeat: no-repeat;
}
.icon-location {
  background-image: url(assets/img/icon/location.png);
  position: relative;
  top: -1px;
}
.icon-phone {
  background-image: url(assets/img/icon/phone.png);
  position: relative;
  top: -1px;
  left: -2px;
}
.icon-mail {
  background-image: url(assets/img/icon/mail.png);
  position: relative;
  top: 5px;
  left: -3px;
}
.text-location {
  vertical-align: super;
  margin-left: 7px;
}
.text-phone {
  vertical-align: super;
  margin-left: 7px;
}
.text-mail {
  margin-left: 7px;
}
footer {
  background-color: #2d303a;
}
.footer-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.copyright__text {
  color: #666d89;
  padding-top: 31px;
  margin-left: 10px;
  font-size: 12px;
}
.footer__socials {
  margin-right: 5px;
  margin-top: -1px;
}
.social__item{
  display: inline-flex;
  flex-direction: row;
  margin: 23px 5px 67px 0;
}
.social__icon{
  width: 32px;
  height: 32px;
}
.facebook{
  background-image: url(assets/img/icon/facebook.png);
}
.google{
  background-image: url(assets/img/icon/google.png);
}
.twitter{
  background-image: url(assets/img/icon/twitter.png);
}
.linkedin{
  background-image: url(assets/img/icon/linkedin.png);
}