body {
  font-family: 'LatoRegular400', sans-serif;
}
.header, .slider, .services {
  max-width: 1020px;
}
.wrapper{
  max-width: 940px;
  margin: 0 auto;
}
.header {
  background-color: #2d303a;
  border-bottom: #323746;
  border-width: 0px 0px 6px 0px;
  border-style: solid;
}
.header__navigation {
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  padding-top: 9px;
}
.logo {
  font-family: 'LatoBold700', sans-serif;
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.logo .colored {
  color: #f06c64;
}
.navigation li {
  font-family: 'LatoBold700', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 13px;
}
.navigation li:not(:first-child):before {
  content: '·';
  margin-right: 12px;
}
.navigation__link {
  color: #ffffff;
  text-decoration: none;
}
.slider {
  height: 594px;
  background-color: #f06c64;
  border-bottom: #ea676b;
  border-width: 0px 0px 6px 0px;
  border-style: solid;
}
.sliders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 53px;
}
.chevron{
  color: #ca4549;
  font-size: 31px;
}
.slide_one img{
  padding-right: 20px;
}
.services{
  background-color: #f2f2f2;
  color: #666d89;
  border-bottom: #ffffff;
  border-width: 0px 0px 6px 0px;
  border-style: solid;
}
.services-header{
  font-family: 'LatoBlack900', sans-serif;
  font-size: 30px;
  margin: 0px;
  padding-top: 62px;
}
.services-text{
  font-family: 'LatoLight300', sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.15124px;
  padding-top: 21px;
}
.layout-3{
  display: flex;
  flex-wrap: wrap;
  padding: 29px 0 46px;
}
.layout-3 .service:nth-child(1), .layout-3 .service:nth-child(2), .layout-3 .service:nth-child(4), .layout-3 .service:nth-child(5){
  margin-right: 20px;
}
.service{
  padding: 16px 0;
  width: 300px;
  display: flex;
}
.service-img{
  width: 60px;
  padding-top: 2px;
}
.service-text-block{
  width: 220px;
  margin: 0 0 0 20px;
}
.service-header{
  font-family: 'LatoBlack900', sans-serif;
  font-size: 18px;
}
.service-text{
  font-family: 'LatoRegular400', sans-serif;
  font-size: 12px;
  line-height: 21.56px;
  padding-top: 10px;
  text-align: justify;

  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;   
  -webkit-hyphenate-limit-zone: 8%;

  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;  
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;

  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;   
  -ms-hyphenate-limit-zone: 8%;

  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;   
  hyphenate-limit-zone: 8%;
}