body {
  font-family: 'LatoRegular400', sans-serif;
}
.header, .slider, .services {
  max-width: 1020px;
}
.wrapper{
  max-width: 940px;
  margin: 0 auto;
}
.header {
  background-color: #2d303a;
  border-bottom: #323746;
  border-width: 0px 0px 6px 0px;
  border-style: solid;
}
.header__navigation {
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  padding-top: 9px;
}
.logo {
  font-family: 'LatoBold700', sans-serif;
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.logo .colored {
  color: #f06c64;
}
.navigation li {
  font-family: 'LatoBold700', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 13px;
}
.navigation li:not(:first-child):before {
  content: '·';
  margin-right: 12px;
}
.navigation__link {
  color: #ffffff;
  text-decoration: none;
}
.slider {
  height: 594px;
  background-color: #f06c64;
  border-bottom: #ea676b;
  border-width: 0px 0px 6px 0px;
  border-style: solid;
}
.sliders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 53px;
}
.chevron{
  color: #ca4549;
  font-size: 31px;
}
.slide_one img{
  padding-right: 20px;
}
.services{
  background-color: #f2f2f2;
  color: #666d89;
  border-bottom: #ffffff;
  border-width: 0px 0px 6px 0px;
  border-style: solid;
}
.services-header{
  font-family: 'LatoBlack900', sans-serif;
  font-size: 30px;
  margin: 0px;
  padding-top: 62px;
}
.services-text{
  font-family: 'LatoLight300', sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.15124px;
  padding-top: 21px;
}
.layout-3{
  display: flex;
  flex-wrap: wrap;
}
.service{
  padding-top: 46px;
  flex-grow: 1;
  width: 33%;
}
.service-img{
  display: inline-block;
  width: 61px;
}
.service-text-block{
  display: inline-block;
  width: 240px;
}